<%= render layout: "layouts/main_layout", locals: {main_title: "Dashboard", main_date: ""} do %>
  <div class="container">
    <div class="row dashboard-row">

      <div class="col-xs-7 col-sm-7 col-xs-offset-0 col-sm-offset-0 ">
        <% @employees.each do |employee| %>
          <div class="message message-border">
            <div class="flip-box">
              <div class="flip-box-inner">
                <div class="flip-box-front">
                  <img class="avatar-large" src="<%= employee.avatar %>">
                </div>
                <div class="flip-box-back">
<!--                   <img class="avatar-large" src=image-url(coin_10_400x400.svg)> -->
                  <p>#1</p>
                </div>
              </div>
            </div>
            <div class="message-iddentity">
              <div class="message-name">
                <h3><%= employee.first_name %> <%= employee.last_name %></h3>
              </div>
              <div class="message-elements">
                <p>
                  <a href="#" target="_blank"><i class="fas fa-phone telephone dashicon"></i></a> &nbsp;
                  <a href="#" target="_blank"><i class="fas fa-at mail dashicon"></i> </a> &nbsp;
                  <a href="#" target="_blank"><i class="fas fa-comment sms dashicon"></i></a> &nbsp;
                </p>
              </div>
            </div>
            <div class="message-body">
              <p>Client satisfaction</p>

              <% if employee.turnover <= 200  %>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
              <% elsif employee.turnover <= 280 %>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
              <% else  %>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
              <% end  %>
            </div>
            <div class="message-body">
              <p>Interventions</p>
              <p><strong><%= employee.bookings.size %> done</strong></p>
            </div>
            <div class="message-status">
              <p class="status accepted">Turnover</p>
              <p class="price"><strong><%= employee.turnover%> €</strong></p>
            </div>
          </div>
        <% end %>
      </div>

      <div class="wheel-box message-border col-xs-4 col-xs-offset-7">
        <canvas id="myChart" width="800" height="800" data-total="<%=@total%>" data-names="<%=@names%>" data-turnover="<%=@turnover%>" ></canvas>
      </div>

    </div>
  </div>
<% end %>

