<div class="container">
  <h1> Dashboard</h1>
  <div class="row">
    <div class="col-xs-12">
      <%= pie_chart @pie_data %>
    </div>
    <% @employees.each do |employee| %>
      <div class="col-xs-12">
        <% turnover = 0 %>
        <%= employee.first_name %>
        <%= employee.last_name %>
        <%= employee.turnover %> € generated
        <%= employee.bookings.size %> interventions realized
      </div>
    <% end %>
  </div>
</div>
