<%= render layout: "layouts/main_layout", locals: {main_title: "Dashboard", main_date: ""} do %>
  <div class="container">
    <h1> Dashboard</h1>
    <div class="row">
      <div class="col-xs-6 col-xs-offset-3">
        <canvas id="myChart" width="800" height="800" data-names="<%=@names%>" data-turnover="<%=@turnover%>"></canvas>
      </div>
    </div>
    <div class="row">
      <% @employees.each do |employee| %>
        <div class="message">
          <img class="avatar-large" src="<%= employee.avatar %>">
          <div class="message-name">
            <h3><%= employee.first_name %> <%= employee.last_name %></h3>
          </div>
          <div class="message-body">
            <p># of interventions</p>
            <p><strong><%= employee.bookings.size %> done last week</strong></p>
          </div>
          <div class="message-elements">
            <p>
              <a href="#" target="_blank"><i class="fas fa-phone telephone dashicon"></i></a> &nbsp; &nbsp;
              <a href="#" target="_blank"><i class="fas fa-at mail dashicon"></i> </a> &nbsp; &nbsp;
              <a href="#" target="_blank"><i class="fas fa-comment sms dashicon"></i></a> &nbsp;
            </p>
          </div>
          <div class="message-status">
            <p class="status accepted">Turnover</p>
            <p class="price"><strong><%= employee.turnover %> €</strong></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

