<%= render layout: "layouts/main_layout", locals: {main_title: "Create your booking", main_date: ""} do %>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
      </div>
      <div class="col-md-6">
        <div class="form-wrapper" style="width: 90%; margin: 0 auto; min-height: 420px; position: relative;">
          <%= simple_form_for(@booking) do |f| %>

            <div class="form-group">
              <label class="check_boxes control-label optional">Choose your plumber</label>
              <div class="plumber-choices">
                <% User.employees.each do |user| %>
                  <% identifier = "booking_user_ids_#{user.id}" %>
                  <input class="" type="checkbox" hidden value="<%= user.id %>" name="booking[user_id]" id="<%= identifier %>">
                  <label class="plumber-choice <%= 'active' if user == @booking.user %>" for="<%= identifier %>">
                    <%= user.first_name %>
                    <%= image_tag user.avatar, class: "avatar-large" %>
                  </label>
                <% end %>
              </div>
            </div>


            <%= f.input :start_date, as: :string, required: false, input_html: {class: "datepicker"} %>
            <%= f.input :end_date, as: :string, required: false, input_html: {class: "datepicker"} %>
            <% if @booking.start_date != nil %>
              <%= f.input :intervention_id, collection: Intervention.all, label_method: :category, input_html: { name: 'booking[intervention_id]' } %>
            <% end  %>
            <%= f.button :submit, "Save this booking", class: "call-to-action", id:"second_form" %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="hidden" id="duration" data-duration="<%= @booking.intervention.duration.to_i * 1000 * 60 %>"></div>
    <div class="hidden" id="start_date" data-start="<%= @booking.start_date.to_f * 1000 %>"></div>
    <div class="hidden" id="planified" data-planified="<%= true %>"></div>
  </div>
<% end %>
