<div class="card">
<p>start date: <%= @booking.start_date %></p>
<p><%= @booking.client.address %></p>
<p><%= @booking.intervention.category %></p>
<p><%= @booking.intervention.duration %></p>
<p><%= @booking.travel_time %></p>
</div>
<div><%= link_to "Back", root_path %></div>
