<%= render layout: "layouts/main_layout", locals: {main_title: "Create a new client", main_date: ""} do %>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="client-card">
          <%= simple_form_for :new_client, url: clients_path do |f| %>
            <div class="form-group string required new_client_first_name">
              <%= select_tag "new_client[email]", options_for_select(Client.all.order(:email).map { |client| [client.email, { "data-client" => client.to_json }] }),
                prompt: 'Email', class: 'form-control select2-autocomplete'%>
            </div>

            <div class="form-row">
              <div class="col" class="form-control my-form">
                <%= f.input :first_name, placeholder: 'First Name', label: false %>
              </div>
              <div class="col" class="form-control">
                <%= f.input :last_name, placeholder: 'Last Name', label: false %>
              </div>
            </div>
            <%= f.input :phone_number, placeholder: 'Phone Number', label: false %>
            <%= f.input :address, placeholder: 'Address', label: false %>
            <ul id="address-search"></ul>

            <div class="form-row">
              <div class="col" class="form-control">
                <%= f.input :intervention_id, collection: Intervention.all, label_method: :category, input_html: { name: 'booking[intervention_id]' }, label: false, class:'nterventionelect', prompt: 'Select an Intervention' %>
              </div>
              <div class="col" class="form-control">

                <%= f.input :urgency, label: "Emergency", as: :boolean, checked_value: true, unchecked_value: false, input_html: { name: 'booking[urgency]' } %>

              </div>
            </div>
            <div class="form-row">
              <div class="col" class="form-control">
              <%= f.submit 'Do It Manually' ,class:'call-to-action reversebtn' %>
               </div>
            <div class="col" class="form-control">
              <%= f.button :button, 'Find A Match' ,class:'call-to-action matchbtn', id:'specialbutton'%>
            </div>
      </div>
            <div class='match', style="visibility: hidden">
              <%= f.input :match, inline_label: 'match', as: :boolean, checked_value: true, unchecked_value: false, input_html: { name: 'match' } %>
            </div>

          <% end %>
      </div>
    </div>
      <div class="col-md-6" style="position: sticky; top: 20px;">
        <div class="client-card-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://images.unsplash.com/photo-1469389335181-2198b4caa734?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1332&q=80');" >
        </div>
      </div>
  </div>
<% end %>




