<%= render layout: "layouts/main_layout", locals: {main_title: "Create a new client", main_date: ""} do %>
  <div class="container">

    <div class="form-wrapper" style="width: 600px; margin: 0 auto;">
      <%= simple_form_for :new_client, url: clients_path do |f| %>
        <div class="form-group string required new_client_first_name">
          <%= select_tag "new_client[email]", options_for_select(Client.all.order(:email).map { |client| [client.email, { "data-client" => client.to_json }] }),
            prompt: "enter email", class: 'form-control select2-autocomplete'%>
        </div>

        <div class="form-row">
          <div class="col" class="form-control">
            <%= f.input :first_name, placeholder: 'First Name', label: false %>
          </div>
          <div class="col" class="form-control">
            <%= f.input :last_name, placeholder: 'Last Name', label: false %>
          </div>
        </div>

        <%= f.input :phone_number, placeholder: 'Phone ', label: false %>
        <%= f.input :address, placeholder: 'Address', label: false %>
        <ul id="address-search"></ul>

        <div class="form-row">
          <div class="col" class="form-control">
            <%= f.input :intervention_id, collection: Intervention.all, label_method: :category, input_html: { name: 'booking[intervention_id]' }, label: false, prompt: 'Select an Intervention' %>
          </div>
          <div class="col" class="form-control">
            <%= f.input :urgency, inline_label: 'Urgency', as: :boolean, checked_value: true, unchecked_value: false, input_html: { name: 'booking[urgency]' } %>
          </div>
        </div>
        <div class='match', style="visibility: hidden">
          <%= f.input :match, inline_label: 'match', as: :boolean, checked_value: true, unchecked_value: false, input_html: { name: 'match' } %>
        </div>
          <%= f.submit 'do it manually' ,class:'btn btn-primary' %>
          <%= f.button :button, 'find a match' ,class:'btn btn-success', id:'specialbutton'%>
      <% end %>
   </div>
  </div>
<% end %>
