<%= render layout: "layouts/main_layout", locals: {main_title: "Choose a slot", main_date: ""} do %>
    <div class="row hel">
      <div class="col-xs-6 client-info">
        <strong><em><h3>Client information</h3></em></strong>
        <p><i class="fas fa-address-card"></i> <%= @client.first_name %>  <%= @client.last_name %></p>
        <p><i class="fas fa-map-marker-alt"></i>  <%= @client.address %></p>
        <p> <i class="fas fa-at"></i>  <%= @client.email %></p>
        <p> <i class="fas fa-phone-square"></i> <%= @client.phone_number %></p>
        <strong><em><h3>Booking information</h3></em></strong>
        <p><i class="fas fa-wrench"></i> <%= @bookings[0].intervention.category%></p>
        <p><i class="fas fa-hourglass-start"></i>  <%= @bookings[0].intervention.duration%> minutes</p>
        <% if @bookings[0].urgency %>
          <p><i class="fas fa-money-bill-alt"></i></i> <%=" #{@bookings[0].price}€ ( #{@bookings[0].intervention.price}€" %> <span style="color:#D63230"> + 50€ </span> )

        <% else %>
          <p><i class="fas fa-money-bill-alt"></i></i>  <%= @bookings[0].intervention.price%> €
        <% end  %>
        </p>
      </div>
      <div class="col-xs-6">
        <% count = 0  %>
        <% if @bookings.size == 2 %>
          <% @bookings.each do |booking| %>
          <div class="col-xs-12 matchresults">
            <% count += 1 %>
            <h2><%= booking.start_date.strftime('%A %e %B, %l:%M %p')%></h2>
            <div class="top-right-element">
              <img class="avatar-very-large photoresult" src="<%= booking.user.avatar %>">
              <p><%= booking.user.first_name %></p>
            </div>
            <div class="travel-time">
               <p>Travel time: <strong><%= booking.travel_time / 60 %> minutes</strong></p>
            </div>
            <div class="matchbutton">
              <%= link_to "Book this slot", booking_path(booking.id) , method: :patch , class:'call-to-action' %>
            </div>
          </div>
          <% end %>
        <% else %>
          <% @bookings.each do |booking| %>
            <div class="col-xs-12 matchresults">
              <h2><%= booking.start_date.strftime('%A %e %B, %l:%M %p')%></h2>
              <div class="top-right-element">
                <img class="avatar-very-large photoresult" src="<%= booking.user.avatar %>">
                <p><%= booking.user.first_name %></p>
              </div>
              <div class="travel-time">
                <p>Travel time: <strong><%= booking.travel_time / 60 %> minutes</strong></p>
                <p id="emergency"><strong>Emergency</strong></p>
              </div>
              <div class="matchbutton">
                <%= link_to "Book this slot", booking_path(booking.id) , method: :patch , class:'call-to-action' %>
              </div>
            </div>
          <% end %>
          <br>
        <% end %>
      </div>
    </div>
<% end %>
